<ion-view title="{{ 'CHANGE_PASSWORD' | translate }}">
  <ion-nav-buttons side="right">
      <button side="right" class="button button-icon ion-checkmark" ng-click="changePassword(changepwdForm)"></button>
  </ion-nav-buttons>
  <ion-content class="signup-content text-center grey">
    <form class="mt30" name="$parent.changepwdForm" novalidate ng-submit="changePassword(changepwdForm)" autocomplete="off">
      <div class="list list-inset app-form login-form">

        <label class="item item-input">
            <input type="password"
                   placeholder="{{ 'CURRENT_PASSWORD' | translate }}" 
                   name="oldpassword"
                   ng-model="changepwdData.oldpassword" 
                   ng-minlength="5"
                   required>
          </label>

          <div ng-if="changepwdForm.oldpassword.$invalid" class="form-errors" ng-show="changepwdForm.oldpassword.$error && changepwdForm.$submitted" ng-messages="changepwdForm.oldpassword.$error">
          <div ng-messages-include="form-errors.html"></div>
          </div>

          <label class="item item-input">
            <input type="password"
                   placeholder="{{ 'NEW_PASSWORD' | translate }}" 
                   name="newpassword"
                   ng-model="changepwdData.newpassword" 
                   ng-minlength="5"
                   required>
          </label>

          <div ng-if="changepwdForm.newpassword.$invalid" class="form-errors" ng-show="changepwdForm.newpassword.$error && changepwdForm.$submitted" ng-messages="changepwdForm.newpassword.$error">
          <div ng-messages-include="form-errors.html"></div>
          </div>

          <label class="item item-input">
                <input required placeholder="{{ 'CONFIRM_PASSWORD' | translate }}" ng-model="changepwdData.confirmPassword" type="password" name="confirmpwd" ng-minlength="5" compare-to="changepwdData.newpassword" >
              </label>
          <div ng-if="changepwdForm.confirmpwd.$invalid" ng-messages="changepwdForm.confirmpwd.$error" 
            class="form-errors" ng-show="changepwdForm.confirmpwd.$error && changepwdForm.$submitted">
            <div ng-messages-include="form-errors.html"></div>
          </div>
      <div class="row">
          <div class="col">
              <button class="register-btn button app-btn yellow">{{ 'UPDATE' | translate }}</button>
          </div>
      </div>
    </form>
    
  </ion-content>
  <!-- <button on-swipe-right="changePassword(changepwdForm)" class="tp quoteMapBtn button button-block icon-right ion-chevron-right button-balanced">{{'UPDATE' | translate}}</button> -->
</ion-view >

