<div class="form-error" ng-message="required">{{ 'REQUIRED' | translate }}</div>
<div class="form-error" ng-message="minlength">{{ 'FIELD_ATLEAST' | translate }}</div>
<div class="form-error" ng-message="maxlength">This field must be less than 50 characters</div>
<div class="form-error" ng-message="email">{{ 'INVALID_EMAIL' | translate }}</div>
<div class="form-error" ng-message="ngRemoteValidate">{{ 'SPLITFARE_EMAIL_NOT_REGISTERED' | translate }}</div>
<div class="form-error" ng-message="compareTo">{{ 'PASSWORD_MATCH' | translate }}</div>
<div class="form-error" ng-message="itemexists">{{ 'ITEM_EXISTS' | translate }}</div>
<div class="form-error" ng-message="checkRequired">{{ 'DISCLAIMER_ERROR' | translate }}</div>
<div class="form-error" ng-message="vin">{{ 'INVALID_VIN' | translate }}</div>
<div class="form-error" ng-message="number">{{ 'INVALID_NUMBER' | translate }}</div>